<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright © 2020 By Geeks Empire.
  ~
  ~ Created by Elias Fazel on 1/30/20 4:30 PM
  ~ Last modified 1/29/20 1:45 PM
  ~
  ~ Licensed Under MIT License.
  ~ https://opensource.org/licenses/MIT
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.orientation.compasshd">

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="com.google.android.wearable.READ_SETTINGS" />

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.compass"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">
        <uses-library
            android:name="com.google.android.wearable"
            android:required="false" />
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_api_key" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/default_color" />

        <activity
            android:name=".Maps.WatchMapsView"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar" />
        <activity
            android:name=".TimeCheck"
            android:icon="@drawable/ic_launcher_compass"
            android:theme="@android:style/Theme.NoDisplay" />
        <activity
            android:name=".Maps.SplitStreetViewMap"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar" />
        <activity
            android:name=".Configuration"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.DeviceDefault.Wallpaper"></activity>

        <activity-alias
            android:name=".Alias.MapsView"
            android:enabled="true"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:label="@string/app_name"
            android:targetActivity=".Maps.WatchMapsView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".Alias.CompassView"
            android:enabled="true"
            android:icon="@drawable/ic_launcher_compass"
            android:label="@string/compass"
            android:targetActivity=".TimeCheck">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <service
            android:name=".BindService"
            android:foregroundServiceType="dataSync" />
        <service android:name=".FloatingCompass" />
        <service android:name=".FloatingCompassMini" />
        <service
            android:name=".CloudNotificationHandler"
            android:icon="@drawable/ic_notification">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".Util.WeatherComplication"
            android:icon="@drawable/ic_launcher"
            android:label="@string/weather"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="RANGED_VALUE" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="3000" />
        </service>
        <service android:name=".Util.DataLayerListenerService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />

                <data
                    android:scheme="wear"
                    android:host="*"
                    android:pathPrefix="/locations" />
                <data
                    android:scheme="wear"
                    android:host="*"
                    android:pathPrefix="/details" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />

                <data
                    android:scheme="wear"
                    android:host="*"
                    android:pathPrefix="/details" />
            </intent-filter>
        </service>
        <service
            android:name=".Util.FetchAddressIntentService"
            android:exported="false" />

    </application>

</manifest>